<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h2>Create a new message</h2>
    <form method="POST" action="/new">
      <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" />
      </div>
      <div>
        <label for="text">Text:</label>
        <input type="text" id="text" name="text" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
